# General
.DS_Store

# Tenacity Specific
TenacityV2/TenacityV2.xcodeproj/project.xcworkspace/xcuserdata/*
TenacityV2/TenacityV2.xcodeproj/xcuserdata/*
*.xcuserstate
TenacityV2/TenacityV2.xcodeproj/project.xcworkspace/xcuserdata/pll.xcuserdatad/UserInterfaceState.xcuserstate
*.xcuserstate
