<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1095756740708-j31bjcken8emie911ecbn15ap4dajk19.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1095756740708-j31bjcken8emie911ecbn15ap4dajk19</string>
	<key>API_KEY</key>
	<string>AIzaSyCymfXZ3oo5Q8Kc7C1Q1odLDEhVbIaeKn8</string>
	<key>GCM_SENDER_ID</key>
	<string>1095756740708</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>PLL.TenacityV3</string>
	<key>PROJECT_ID</key>
	<string>tenacityflow-758fc</string>
	<key>STORAGE_BUCKET</key>
	<string>tenacityflow-758fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1095756740708:ios:639fbde631c28cb9</string>
	<key>DATABASE_URL</key>
	<string>https://tenacityflow-758fc.firebaseio.com</string>
</dict>
</plist>